
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bg-img { 
  background-image: url(doosan_bg_img.jpg) ;
  background-position: center center;
  background-repeat:  no-repeat;
  background-size:  cover;
  background-color: #999;
 }

 .card-image:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, transparent 0%, transparent 70%, black 100%);
}

 .card-image-active:after {
  background: linear-gradient(to bottom, transparent 0%, transparent 40%, black 100%);
  transition-duration: .2s;
}

 .card:hover {
  padding: 2px;
  transition: 0.2s;
  transition-timing-function: ease-out;
  transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
 }

  .card:hover .more-info{
  padding-bottom: 5px;
  transition: 0.2s;
  transition-timing-function: ease-out;
  transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
 }

.image-title {
  position: absolute;
  bottom: 0;
  margin-bottom:15%;
  padding-left:20px;
  line-height: 1.1;
}
.image-manufacture-title {
  margin-bottom: 5px;
}

.more-info{
  position: absolute;
  bottom: 0;
  width: 100%;
  padding:0
}

.more-info-icon{
  margin-left: calc(50% - .5rem)
}


.more-info-content-active{
   margin: 0; 
   padding: 0; 
   height : 75%;
}

.table-trans {
  background-color:rgba(0, 0, 0, 0) !important;
}

.excavator {
  background: hsl(141, 71%, 48%) !important;
}

.roller {
  background : hsl(48, 100%, 67%) !important;
}

.dozer {
  background : hsl(204, 86%, 53%) !important; 
}

.map {
  width: 100%;
  height: 0px;
}

.tags .tag {
  border-radius: 0px !important;
}
