
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bg-img { 
  background-image: url(doosan_bg_img.jpg) ;
  background-position: center center;
  background-repeat:  no-repeat;
  background-size:  cover;
  background-color: #999;
 }

 .card-image:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, transparent 0%, transparent 70%, black 100%);
  z-index: 0;
}

 .card-image-active:after {
  background: linear-gradient(to bottom, transparent 0%, transparent 40%, black 100%);
  transition-duration: .2s;
}

 /* .card:hover {
  padding: 2px;
  transition: 0.2s;
  transition-timing-function: ease-out;
  transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
 } */

  .card:hover .more-info{
  padding-bottom: 5px;
  transition: 0.2s;
  transition-timing-function: ease-out;
  transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
 }

.image-title {
  position: absolute;
  bottom: 0;
  margin-bottom:15%;
  padding-left:20px;
  line-height: 1.1;
  z-index: 3;
}
.image-manufacture-title {
  margin-bottom: 5px;
}

.more-info{
  position: absolute;
  bottom: 0;
  width: 100%;
  padding:0;
  z-index: 4
}

.more-info-icon{
  margin-left: calc(50% - .5rem)
}


.more-info-content-active{
   margin: 0; 
   padding: 0; 
   height : 75%;
}

.table-trans {
  background-color:rgba(0, 0, 0, 0) !important;
}

.excavator {
  background: hsl(141, 71%, 48%) !important;
}

.roller {
  background : hsl(48, 100%, 67%) !important;
}

.dozer {
  background : hsl(204, 86%, 53%) !important; 
}

.map {
  width: 100%;
  height: 0px;
}

.tags .tag {
  border-radius: 0px !important;
}

.card-content {
  z-index: 3;
}

.thumbnail-container{
  position: absolute;
  z-index: 5;
  top:0;
  width: 80%;
  height: auto;
  background: rgba(0, 0, 0, .7);
  margin-top: 20%;
  margin-left: 10%;
  border-radius: 4px;
}

.fab {
    z-index: 100;
    bottom: 20px;
    height: 64px !important;
    width: 250px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right:auto;
    border-radius: 0%;
    position: fixed !important;
}

.fab-is-desktop {
      width: 250px !important;
}

.fab-active {
  animation: pulse 1s infinite;
}

.fab-shadow {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
  margin-left: auto !important;
  margin-right:auto !important;
}


.noheight{
  height: auto !important;
}

/* .ReactModal__Overlay {
  z-index: 999 !important;
}

.Modal {
  position: absolute;
  top: 150px;
  left: 150px;
  right: 150px;
  bottom: 150px;
  background-color: white;
} */



#fader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    pointer-events: none;
    background: white;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
}



@keyframes fade-out {
    from { opacity: 1 }
      to { opacity: 0 }
}

@keyframes fade-in {
    0% { 
      opacity: 0;
    }

    100% { 
      opacity: 1;
    }
}

.image-card {
  min-width: 325px;
  min-height: 500px;
}

.newsetter-signup {
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0,0,0,0.75);
  z-index: 101;
  animation: fade-in 1s;
}

.newsetter-signup > .card{
  width: 500px;
  align-self: center;
}

.footer-button {
  cursor: pointer;
}
